api/.vs/estudos/config/applicationhost.config
api/estudos/obj/Debug/netcoreapp3.1/estudos.csprojAssemblyReference.cache
api/estudos/obj/Debug/netcoreapp3.1/estudos.assets.cache
api/estudos/Conexao.cs
