<form *ngIf="modelConteudo" [formGroup]="form">
  <div class="form-group">
    <label for="email">Titulo:</label>
    <input formControlName="titulo" [(ngModel)]="modelConteudo.titulo" type="text" class="form-control" id="email" placeholder="Titulo" name="titulo" #titulo>
  </div>

  <div class="form-group">
    <label for="email">Subtitulo:</label>
    <input formControlName="subTitulo" [(ngModel)]="modelConteudo.subTitulo" type="text" class="form-control" id="email" placeholder="Subtitulo" name="subTitulo" #subtitulo>
  </div>

  <div class="form-group">
    <label for="email">Conteúdo:</label>
    <input formControlName="dataPublicacao" [(ngModel)]="modelConteudo.dataPublicacao" type="datetime-local" class="form-control" id="email" placeholder="Conteúdo" name="email" #dataPublicacao>
  </div>

  <button [disabled]="!form.valid" (click)="update(titulo.value, subtitulo.value, dataPublicacao.value, codigo_unico)" type="submit" class="btn btn-success">Postar</button>

</form>
